body {
  margin: 0;
  background-color: #9e9e9e;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  width: 90%;
  height: 90%;
  align-items: top;
  justify-content: top;
  flex-direction: column;
}
h1{
  text-align: center;
  text-shadow: 3px 3px 0 #2c353d;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 90px;
}
.tabla-container {
  width: 20%;
  height: 30%;
  padding: 20px;
  vertical-align: middle;
  
}

.contenedor-contenido{
  width: 90%;
  display: flex;
  flex-direction: row;
}
.imagen-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.imagen-container img {
  max-width: 50%;
  height: auto;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 8px;
}
tr{
  font-weight: bold;
  font-size: 3erm;
  
}
td{
  color: #ffffff;
}
th{
  color: #ffffff;
  background-color: #2c353d;
}
tbody{
  color: #ffffff;
  background-color: #2c353d;
}
h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* ← Esto es clave para que no se desborde */
}

th, td {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  text-align: center;
}

input[type="number"] {
  width: 95%;              /* ← Cambiado de 100% a 95% */
  box-sizing: border-box;  /* ← Asegura que padding no aumente el ancho total */
  padding: 4px 6px;
  background-color: #333;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.boton-container {
  margin-top: 20px;
  text-align: center;
}

.boton-evaluar {
  background-color: #ececec;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px 24px;
  border: 2px solid #4CAF50; /* Azul eléctrico */
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.boton-evaluar:hover {
  background-color: #ffffff;
  transform: scale(1.05);
  border-color: #64B5F6; /* Un azul más claro al hacer hover */
}

