
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #717d96; 
}


.dashboard-container {
    display: flex;
    height: 100vh; 
}
a{
    text-decoration: none;
}

.sidebar {
    flex-basis: 260px; 
    background-color: #2c353d; 
    color: #ecf0f1;
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
}


.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-link {
   
    width: 100%;
    padding: 1rem;
    background-color: #34495e; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #3498db;
    transform: translateX(5px);
}


.sidebar-results {
    margin-top: auto; 
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
}

.sidebar-results h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.sidebar-results a {
    color: #3498db; /* Azul de acento */
    text-decoration: none;
    font-size: 0.9rem;
}

.sidebar-results a:hover {
    text-decoration: underline;
}


.main-content {
    flex-grow: 1; /* Ocupa el resto del espacio */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ecf0f1; /* Texto oscuro sobre fondo claro */
    margin-bottom: 2rem;
}
.text-content{
    font-size: 2rem;
    font-weight: 500;
    color: #ecf0f1;
    margin-top: 1rem;
}


.image-container {
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    padding: 1.5rem;
    border-radius: 12px;
    /* Sombra suave y moderna */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); 
    margin-bottom: 2.5rem;
}

.robot-img {
    width: 100%;
    max-width: 400px; 
    height: auto;
    border-radius: 6px; 
}


.action-button {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 50px; 
    
    background: linear-gradient(45deg, #27ae60, #2ecc71);
    color: white;
    box-shadow: 0 4px 15px rgba(46, 204, 113, 0.4);
    transition: all 0.3s ease;
}

.action-button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 20px rgba(46, 204, 113, 0.6);
}
